* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery-cell {
  width: 66%;
  height: 13rem;
  margin-right: 10px;
  counter-increment: gallery-cell;
}
