<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>КАТАЛОГ • КУСЬ ДА ГРЫЗЬ</title>
      <link rel="icon" href="assets/images/favicon.ico">
      <link rel="stylesheet" href="assets/style.css">
      <script src="assets/script.js"></script>

      <!-- tailwind, ionicons, daisyui, flowbite -->
      <script src="https://cdn.tailwindcss.com"></script>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/daisyui@3.8.3/dist/full.css" rel="stylesheet" type="text/css" />
      <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />

      <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
      <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    </head>

    <body class="bg-[url('assets/images/background.png')]">

        {{template "navbar.html" .}}
        <section id="Projects"
            class="w-fit mx-auto grid grid-cols-1 2xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">

            {{ range . }}
            <div class="w-72 bg-white shadow-md rounded-xl duration-500 hover:shadow-xl">
                <a href="#">
                    <img src="{{ .ImagePath }}"
                        alt="Product" class="h-80 w-72 object-cover rounded-t-xl" />
                    <div class="px-4 py-3 w-72">
                        <p class="text-xl font-bold text-black truncate block capitalize">{{ .Name }}</p>
                        <p class="text-base text-black truncate block capitalize">{{ .Description }}</p>
                        <div class="flex items-center">
                            <p class="text-base font-semibold text-black cursor-auto my-3">{{ .Price }} Рублей</p>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}

        </section>
      <footer class="w-screen bg-[#402c1c]">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
          <span class="text-sm text-white sm:text-center">© 2023 <a href="https://flowbite.com/" class="hover:underline">Кусь да грызь™</a>. Все права защищены.
          </span>
        </div>
      </footer>
    </body>
</html>
