<!doctype html>
<html class="scroll-smooth">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>КУСЬ ДА ГРЫЗЬ</title>
  <link rel="icon" href="assets/images/favicon.ico">
  <link rel="stylesheet" href="assets/style.css">
  <script src="assets/script.js"></script>

  <!-- tailwind, ionicons, daisyui, flowbite -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.8.3/dist/full.css" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</head>

<body class="bg-[url('assets/images/background.png')]">

  {{template "navbar.html" .}}

  {{template "contact_form.html" .}}

  <section id="main">
    <div class="py-10 -z-10">
      <div class="container mx-auto flex flex-col md:flex-row my-6 md:my-50">
        <div class="flex flex-col w-full p-8">
          <p class="text-4xl md:text-5xl my-4 leading-relaxed md:leading-snug">ЛАКОМСТВА КУСЬ ДА ГРЫЗЬ</p>
          <p class="text-lg md:text-base leading-snug text-opacity-100">
            Натуральные лакомства для собак по разумным ценам от производителя.
            Отправь заявку и получи выгодное предложение о сотрудничестве!
          </p>
          <div class="text-center mt-6">
            <button data-modal-target="defaultModal" data-modal-toggle="defaultModal"
              class="block text-white bg-[#402c1c] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              type="button">
              Отправить заявку
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class='my-10 p-10 w-screen bg-[#402c1c] text-white flex items-center justify-center'>
      <span class='flex items-center md:pr-20'>
        <ion-icon name="hand-left-outline" class="text-5xl pr-2"></ion-icon>
        <p class=''>Ручная работа</p>
      </span>
      <span class='flex items-center'>
        <ion-icon name="bag-handle-outline" class="text-5xl pr-2"></ion-icon>
        <p class=''>Удобная упаковка</p>
      </span>
      <span class='flex items-center md:pl-20'>
        <ion-icon name="car-sport-outline" class="text-5xl pr-2"></ion-icon>
        <p class=''>Быстрая доставка</p>
      </span>
    </div>
  </section>

  <section>
    <div class="flex flex-col w-full p-8 my-6 md:my-50 md:mx-50">
      <p class="text-lg md:text-base leading-snug text-opacity-100">
        Компания "Кусь да Грызь" уже более трёх лет производит натуральные
        лакомства для собак из мяса и субпродуктов: говядины, утки и
        свинины. Наш продукт биологического происхождения и не имеет
        химических добавок. Бережная сушка оставляет все полезные
        микроэлементы, а самое главное - вкус мяса. И именно поэтому
        тысячи счастливых собак уже попробовали наши лакомства. Мы
        предлагаем сотрудничество магазинам и дистрибьюторам России и
        стран СНГ.
      </p>
    </div>
  </section>

  <section id="about py-20 my-20">
  <div class="gallery js-flickity"
    data-flickity-options='{ "wrapAround": true }'>
    <img class="gallery-cell md:h-96" src="assets/images/food1.jpg" alt="">
    <img class="gallery-cell md:h-96" src="assets/images/food2.jpg" alt="">
    <img class="gallery-cell md:h-96" src="assets/images/food3.jpg" alt="">
  </div>

  </section>

  <section id="contacts">
    <div class="md:flex p-8 my-6 md:my-50 md:text-right">
      <div class="w-full">
        <p class="text-2xl md:text-base leading-snug text-opacity-100 md:text-left">
          Индивидуальный предприниматель Старков Антон Евгеньевич <br>

          ИНН 246006792717 <br>

          ОГРНИП 318246800149634 <br>

          г. Красноярск ул. Академгородок 50а к1 <br> <br> <br>
        </p>
      </div>
      <div class="w-full">
        <p class="underline text-2xl md:text-base leading-snug text-opacity-100 md:text-right">
          <a href="tel:+7(967)-602-9791">
            +7(967)-602-9791 Отдел продаж (Красноярск)
          </a><br>

          <a href="mailto:tarkov_anton@bk.ru">
            starkov_anton@bk.ru
          </a><br>

          <a href="https://www.wildberries.ru/seller/829213">Магазин Wildberries</a>
        </p>
      </div>
    </div>
  </section>

  <footer class="w-screen bg-[#402c1c]">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-white sm:text-center">© 2023 <a href="https://flowbite.com/" class="hover:underline">Кусь да грызь™</a>. Все права защищены.
      </span>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</body>

</html>
