<!DOCTYPE html>
<html class="scroll-smooth">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Вход в панель администратора - КУСЬ ДА ГРЫЗЬ</title>
  <link rel="icon" href="assets/images/favicon.ico">
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
 <style>
  body {
    max-width: 640px;
    padding: 0 10px;
    margin: 40px auto;
  }
</style>
<body>
    {{if .Success}}
    <a href="./admin">Вход в панель администратора</a>
    {{else}}
    <form method="POST">
        <label>Одноразовый пароль:</label><br/>
        <input type="text" name="otp"><br/>
        <input type="submit" value="Отправить">
    </form>
    {{end}}
</body>

</html>
