<nav class="sticky w-screen top-0 h-21 p-5 bg-[#f0d48c] shadow md:flex md:items-center md:justify-between">
  <div class="flex justify-between items-center">
    <span class="cursor-pointer">
      <a href="index.html"><img class="h-16 inline" src="assets/images/logo.png"></a>
    </span>

    <span class="mx-2 md:pl-10">
      <a href="tel:+7(967)-602-9791" class="text-lg flex items-center justify-center md:text-xl md:mx-4 md:my-6">
        +7(967)-602-9791
      </a>
    </span>

    <span class="text-3xl cursor-pointer mx-2 md:hidden block">
      <ion-icon name="menu" onclick="menu(this)"></ion-icon>
    </span>
  </div>

  <ul
    class="md:flex md:items-center md:z-auto md:static absolute bg-[#f0d48c] w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500">
    <li class="mx-4 my-6 md:my-0">
      <a href="#about" class="text-xl duration-500">О НАС</a>
    </li>
    <li class="mx-4 my-6 md:my-0">
      <a href="#contacts" class="text-xl duration-500">КОНТАКТЫ</a>
    </li>
    <li class="mx-4 my-6 md:my-0">
      <a href="./catalog" class="text-xl duration-500">КАТАЛОГ</a>
    </li>
  </ul>
</nav>
